<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 bg-blue-700 rounded-full mr-2 flex justify-center items-center">C</div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <!-- Minha missão é impulsionar a produtividade do Brasil através da tecnologia. Transformo processos manuais e ineficientes em sistemas digitais escaláveis, ajudando empresas a crescer com agilidade, eficiência e inovação. -->
  <p class="text-sm flex-1">Atendo empresas que precisam criar ou evoluir soluções digitais — como sistemas internos, SaaS, dashboards personalizados ou aplicações web sob medida. Trabalho com projetos de 3 a 6 meses, com foco em entregas de alto impacto.</p>
</div>