<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>
  <body class="bg-sky-950">
    <header class="bg-slate-800/80 backdrop-blur-sm shadow-lg sticky top-0 z-50">
      <nav class="container mx-auto px-6 py-4">
        <div
          class="flex justify-between items-center">
          <!-- Logo / Nome -->
          <div>
            <a href="#" class="text-2xl font-bold text-white nav-link" data-target="home">
              Cleiton Luiz
            </a>
          </div>
          <!-- Links do Menu (Desktop) -->
          <div class="hidden lg:flex items-center space-x-8 text-slate-400">
            <a href="/" class="nav-link text-medium-text hover:text-blue-400" data-target="home">Home</a>
            <a href="/sobre" class="nav-link text-medium-text hover:text-blue-400" data-target="sobre">Sobre</a>
            <a href="/blog" class="nav-link text-medium-text hover:text-blue-400 text-white " data-target="blog">Blog</a>
            <a href="/projetos" class="nav-link text-medium-text hover:text-blue-400" data-target="projetos">Projetos</a>
            <a
              href="/contato"
              class="nav-link bg-primary hover:bg-blue-400 px-5 py-2 rounded-md transition duration-300"
              data-target="contato">Contato</a>
          </div>
          <!-- Botão do Menu (Mobile) -->
          <div class="lg:hidden">
            <button id="menu-btn" class="text-light-text focus:outline-none">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
              </svg>
            </button>
          </div>
        </div>
        <!-- Menu Mobile (Oculto por padrão) -->
        <div id="mobile-menu" class="hidden lg:hidden mt-4 space-y-2 text-slate-400">
          <a href="/" class="block nav-link text-medium-text hover:text-blue-400" data-target="home">Home</a>
          <a href="/sobre" class="block nav-link text-medium-text hover:text-blue-400" data-target="sobre">Sobre</a>
          <a href="/blog" class="block nav-link text-medium-text hover:text-blue-400" data-target="blog">Blog</a>
          <a href="/projetos" class="block nav-link text-medium-text hover:text-blue-400" data-target="projetos">Projetos</a>
          <a
            href="/contato"
            class="block nav-link bg-primary hover:bg-blue-400 hover:text-white text-white px-5 py-2 rounded-md transition
              duration-300 mt-2"
            data-target="contato">Contato</a>
        </div>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>