---
title: Blog
layout: base.njk
description: "Blog do Cleiton Luiz"
target: blog
schema:
  type: WebSite
  url: "https://cleitonluizdev.com.br/blog"
  name: "Blog"
  description: "Bem vindos ao meu blog"
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
permalink: /blog/
---


  <section id="blog" class="page-section min-h-[80vh]">
    <div class="text-center mb-12">
      <h2 class="text-3xl lg:text-4xl font-extrabold text-white mb-3">Blog</h2>
      <p class="text-lg text-medium-text max-w-2xl mx-auto text-slate-400">Artigos, tutoriais e insights sobre o mundo do
        desenvolvimento web e tecnologia.</p>
    </div>

    <div class="flex flex-col gap-8 items-center">

      {% for post in pagination.items %}
      {% if post.data.published %}
      
      <div
        class="w-1/2 bg-gray-800 rounded-lg shadow-lg overflow-hidden transition duration-300 hover:shadow-secondary/30 hover:shadow-xl">
        <div class="p-6">
          <a href="{{post.url}}">
            <h3 class="text-xl font-bold text-white my-2">
              {{ post.data.title }}
              <span class="text-white text-sm"> &middot; {{ post.templateContent | readTime }} min read</span>
            </h3>
          </a>
          <em class="text-blue-700 font-semibold">{{ post.date | date: "dd/MM/yyyy" }}</em>
          <p class="text-medium-text mb-4 line-clamp-3 text-slate-400">
            {{ post.data.post_excerpt }}
          </p>


          <div class="flex justify-between items-center mt-4">
            <div class="flex-1 pr-4">
              {% for tag in post.data.tags %}
                {% if tag != "posts" %}
                  <div class="bg-gray-900 text-blue-600 text-xs font-semibold px-3 py-1 rounded-full inline-block">{{ tag }}</div>
                {% endif %}
              {% endfor %}
            </div>

            <a href="{{ post.url }}" class="text-secondary hover:underline font-semibold text-blue-600">Ler mais &rarr;</a>
          </div>
        
        
        </div>
      </div>
      
      
      {% endif %}
      {% endfor %}
      
    </div>
  </section>
