---
title: Projetos de Desenvolvimento Web | Portfólio de Cleiton Luiz
layout: base.njk
description: "Explore uma seleção de projetos de desenvolvimento web realizados por Cleiton Luiz. Veja exemplos práticos de aplicações web, sites e outras soluções digitais."
type: WebPage
target: projetos
meta:
  site:
    name: Site
    title:
    description: Site description
    url: https://cleitonluizdev.com.br
    logo:
      src: https://cleitonluizdev.com.br/images/logo.png
      width: 1200
      height: 630
    language: en-US
  url: https://cleitonluizdev.com.br/projetos/
  title: "Projetos pessoais"
  description: "Projetos pessoais"
  image:
    src: https://cleitonluizdev.com.br/images/page.png
  author:
    url: https://cleitonluizdev.com.br/sobre/
    name: Cleiton Teodoro
schema:
  '@context': https://schema.org
  '@type': CollectionPage
  mainEntityOfPage:
    '@type': WebPage
    '@id': "https://cleitonluizdev.com.br/projects"
  headline: "Projetos de Desenvolvimento Web | Portfólio de Cleiton Luiz"
  description: "Explore uma seleção de projetos de desenvolvimento web realizados por Cleiton Luiz. Veja exemplos práticos de aplicações web, sites e outras soluções digitais."
  author:
    '@type': Person
    name: "Cleiton Teodoro"
    url: "https://cleitonluizdev.com.br/sobre/"
  publisher:
    '@type': Organization
    name: "Site"
    logo:
      '@type': ImageObject
      url: "https://cleitonluizdev.com.br/images/logo.png"
  mainEntity:
    '@type': ItemList
    description: "Uma lista de projetos de desenvolvimento web e soluções digitais."
    # Os itemListElement são gerados dinamicamente pelo Nunjucks no corpo da página.
---

  <section id="projetos" class="page-section py-20 flex flex-col items-center">

    <div class="text-center mb-12">
      <h2 class="text-3xl lg:text-4xl font-extrabold text-white mb-3">Projetos em Destaque</h2>
      <p class="text-lg text-slate-400 max-w-2xl mx-auto">Alguns trabalhos que demonstram minha capacidade de entregar
        soluções de ponta.</p>
    </div>


    {% for project in projects %}
      <div class="bg-gray-800 rounded-lg shadow-xl overflow-hidden flex flex-col mb-12 sm:w-1 lg:w-1/2">

        <div class="p-8">
          <h3 class="text-2xl font-bold text-white mb-3">{{ project.title }}</h3>
          <p class="mb-5 text-slate-400">
            {{ project.description }}
          </p>
          <div class="flex flex-wrap gap-2 mb-6">
            {% for tech in project.tech_stack %}
              <span class="bg-gray-900 text-blue-600 text-xs font-semibold px-3 py-1 rounded-full">{{ tech }}</span>
            {% endfor %}
          </div>
          <div class="flex gap-4">
            <a href="{{ project.url }}" class="font-semibold hover:underline text-blue-600">Ver ao Vivo</a>
            <a href="{{ project.github_url }}" class="font-semibold hover:underline text-slate-600">Ver Código (GitHub)</a>
          </div>
        </div>
      </div>
    {% endfor %}

  </section>
